<div class="row">
    <div class="panel panel-primary">
        <div class="panel-heading clearfix">
            <h4 class="panel-title pull-left" style="padding-top: 7.5px;">Aplicaciones</h4>
            <div class="input-group">
                <input id="inputSearchAplicaciones" type="search" ng-model="filterAplicaciones" class="form-control shortInputSearch" placeholder="Filtrar, buscar aplicaciones...">
                <div class="input-group-btn">
                    <button class="btn btn-primary" ng-click="search();"><i class="glyphicon glyphicon-search"></i></button>
                    <button class="btn btn-primary" ng-click="clearSearch();"><i class="glyphicon glyphicon-remove-sign"></i></button>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-6" ng-repeat="aplicacion in Aplicaciones | filter:filterAplicaciones">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <strong>{{aplicacion.Nombre}}</strong><br/>
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-condensed shortMargin">
                                    <tr>
                                        <td class="shortPadding">Técnico:</td>
                                        <td class="shortPadding"><i>{{aplicacion.Tecnico}}</i></td>
                                    </tr>
                                    <tr>
                                        <td class="shortPadding">Contacto:</td>
                                        <td class="shortPadding"><i>{{aplicacion.Contacto}}</i></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="panel-footer clearfix">
                            <label class="label label-danger">Nº Incidencias {{aplicacion.NumeroIncidencias}}</label>
                            <div class="pull-right">
                                <buton class="btn btn-primary btn-xs" ng-click="openEditDialog(aplicacion);">Edit <i class="fa fa-pencil pull-right"></i></buton>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <div class="text-center">
                <custom-pager page="{{page}}" pages-count="{{pagesCount}}" total-count="{{totalCount}}" search-func="search(page)"></custom-pager>
            </div>
        </div>
    </div>
</div>