<hr />
<div class="row">
    <div class="col-md-8">
        <div class="panel panel-primary" id="panelUltimasIncidencias">
            <div class="panel-heading">
                <h3 class="panel-title">Últimas Incidencias</h3>
            </div>

            <div class="panel-body">
                <div ng-if="loadingIncidencias">
                    <div class="col-xs-4"></div>
                    <div class="col-xs-4">
                        <i class="fa fa-refresh fa-5x fa-spin"></i> <label class="label label-primary">Cargando incidencias...</label>
                    </div>
                    <div class="col-xs-4"></div>
                </div>
                <div class="col-xs-12 col-sm-6 incidencia" ng-repeat="incidencia in latestInciencias">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <strong>{{incidencia.Titulo}} </strong>
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-condensed shortMargin">
                                    <tr>
                                        <td class="shortPadding">Descripción:</td>
                                        <td class="shortPadding"><i>{{incidencia.Descripcion}}</i></td>
                                    </tr>
                                    <tr>
                                        <td class="shortPadding">Aplicación:</td>
                                        <td class="shortPadding"><i>{{incidencia.Aplicacion}}</i></td>
                                    </tr>
                                    <tr>
                                        <td class="shortPadding">Comentario:</td>
                                        <td class="shortPadding"><i>{{incidencia.Comentario}}</i></td>
                                    </tr>
                                    <tr>
                                        <td class="shortPadding">Contacto:</td>
                                        <td class="shortPadding"><i>{{incidencia.Contacto}}</i></td>
                                    </tr>
                                    <tr>
                                        <td class="shortPadding">Fecha Alta:</td>
                                        <td class="shortPadding"><i>{{customer.FechaAlta | date:'mediumDate'}}</i></td>
                                    </tr>
                                    <tr>
                                        <td class="shortPadding">Estado:</td>
                                        <td class="shortPadding"><i>{{incidencia.Estado}}</i></td>
                                    </tr>
                                    <tr>
                                        <td class="shortPadding">Técnico:</td>
                                        <td class="shortPadding"><i>{{incidencia.Tecnico}}</i></td>
                                    </tr>
                                    <tr>
                                        <td class="shortPadding">Prioridad:</td>
                                        <td class="shortPadding"><i>{{incidencia.Prioridad}}</i></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="panel-footer clearfix">
                            <div class="pull-right">
                                <buton class="btn btn-primary btn-xs" ng-click="openEditDialog(incidencia);">Edit <i class="fa fa-pencil pull-right"></i></buton>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-success" id="panelAplicaciones">
            <div class="panel-heading">
                <h3 class="panel-title">Aplicaciones</h3>
            </div>

            <div class="panel-body">
                <div ng-if="loadingAplicaciones">
                    <div class="col-xs-4"></div>
                    <div class="col-xs-4"><i class="fa fa-refresh fa-5x fa-spin"></i> <label class="label label-primary">Cargando aplicaciones..</label></div>
                    <div class="col-xs-4"></div>
                </div>
                <div id="aplicaciones-bar"></div>
            </div>
            <div class="panel-footer">
                <p class="text-center"><em>Quieres añadir una incidencia?</em></p>
                <p class="text-center"><a ng-href="#/incidencias/add" class="btn btn-default">Add incidencia</a></p>
            </div>
        </div>
    </div>
</div>